@import url('https://fonts.googleapis.com/css?famly-Poppins:300,400,500,600,700,800,900&display=swap');

body {
     font-family: 'Poppins', sans-serif;
     overflow-x: hidden;
     background-image: url(https://i.imgur.com/K8lDBYU.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}