body {
    font-family: 'Poppins', sans-serif;
    background-image: url(https://i.imgur.com/K8lDBYU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000070;
}

.card h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 2px solid #4038a0;
}

.label-float label {
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label {
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
}

.entrar button{
    width: 35%;
    padding: 15px 0;
    margin-top: 10px;
    background-color: #272262;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-out;
    cursor: pointer;
    outline: none;
}

.entrar button:hover {
    background-color: #271162;
}