body {
    font-family: 'Poppins', sans-serif;
    background-image: url(https://i.imgur.com/K8lDBYU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: #fff;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.imagem-titulo h1 {
    padding: 2em;
    margin: 1em;
    margin-left: 0;
    padding-left: 0;
}

.imagem-titulo img{
    padding: 0.625rem;
    height: 100px;
    width: 200px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #6b6b6b;
    text-decoration: underline;
    transition: all .1s ease-out;
}

.header-nome-saad {
    color: #000000;
    font-family: 'Poppins',Arial,Helvetica,sans-serif;
    font-size: 1.38125rem;
    position: relative;
    top: -0.375rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.cadastro {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.cadastro p {
    color: #272262;
    font-size: 14pt;
    text-align: center;
}

.cadastro a {
    color: #7a3077;
    font-weight: bold;
    text-decoration: none;
}

.cadastro a:hover {
    color: #272262;
    transition: all .2s ease-out;
}

.card {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000070;
}

.card h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #272262;
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 2px solid #4038a0;
}

.label-float label {
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label {
    font-size: 13px;
    margin-top: 0;
    color: #4038a0;
}

.justify-center button{
    width: 35%;
    padding: 15px 0;
    margin-top: 10px;
    background-color: #272262;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-out;
    cursor: pointer;
    outline: none;
}

.justify-center button:hover {
    background-color: #3a1a90;
    color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-center hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}
